body {
    background-image: url(https://images.unsplash.com/photo-1542990253-a781e04c0082?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    font-family: Arial, sans-serif;
    margin: 50px;
    margin-top: 20px;
}

h1 {
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.waviy {
    position: relative;
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
    text-align: center;
  }

  .waviy span {
    position: relative;
    display: inline-block;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    margin-bottom: 10px;
  }
  
  @keyframes waviy {
    0%,90% {
      transform: translateY(0)
    }
    60% {
      transform: translateY(-5px)
    }
  }
  .row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.border-0 {
  background:none;
}
.border-1 {
    background: none;
    padding: 8px;
    text-align: left;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.border {
    border: 3px solid rgba(71, 19, 19, 0.396);
    padding: 8px;
    text-align: left;
    font-family: "Varela Round", sans-serif;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    background-color: #f2f2f28d;
}
th {
    background-color: #f2f2f2;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#total-price {
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
    font-weight: 30px;
    font-style: normal;
}

.no-border {
    border: none;
}

.add-item {
    margin: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.add-item:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.add-item:focus {
  outline: none;
  border: 2px solid #000000;
}

.remove-item {
  margin: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
.total {
    text-align: left;
    font-size: large;
    width: 100px;
}

tfoot {
  margin: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;
  z-index: 0;
}
